# Environment
.env
.env.local

# WordPress
wordpress/

# Base de datos
database/

# OS files
.DS_Store
Thumbs.db

# Editors / IDEs
.vscode/

# Logs
*.log

# Docker local overrides
docker-compose.override.yml